<p>home works!</p>
<p  > {{title}} </p>


<img src="{{imageUrl}}" (click)="imgClicked()"  [width]="width" alt="">



<input type="text" [(ngModel)]="input" name="" id="">

<input type="text" [value]="input" name="" id="">
    
<input type="text" [value]="input" name="" id="">
<button (click)="btn()">clicked</button>

<p *ngIf="input!='hello'" [ngClass]="width==400?'one':'two'" [ngStyle]="{fontWeight:width==400?'bold':''}" > this is demo for ng if </p>

<div *ngFor="let i of ['resgeg',2,3,4,5]|slice:0:3;let index=index;let e=even;let o=odd "  >
    <p > {{e?index+" even":index+" odd"  }} </p>

</div>

<div [ngSwitch]="width">

    <p *ngSwitchCase="400">400</p>
    <p *ngSwitchCase="500" >500</p>
    <p *ngSwitchDefault > default</p>
</div>



<hr>
<h1>pipes</h1>


<p>{{json|json}}</p>

<p> {{input|uppercase }}  </p>
<p> {{width|currency:"INR"}} </p>

<p>{{arr|slice:1:3|json}}</p>

<p> {{400|percent}} </p>